# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r
# and this guide: https://towardsdatascience.com/travis-ci-for-r-advanced-guide-719cb2d9e0e5

language: R
sudo: false
cache: packages
latex: false
fortran: false

matrix:
  include:
    - r: oldrel
      os: linux
    - r: release
      os: linux
      r_packages:
      - covr
      after_success:
      - tar -C .. -xf $PKG_TARBALL
      - Rscript -e 'covr::codecov()'
    - r: devel
      os: linux
    - r: release
      os: osx
      before_install:
      - brew update

env:
  - _R_CHECK_FORCE_SUGGESTS_=false
